<?xml version="1.0" encoding="UTF-8"?>
<inputmanglerConf configVersion="2">
	<!-- Comment -->
	<!-- In this example it's all commented out, because I really can't think of any sane default configuration. -->
	<!-- Custom path to maps - default is ~/.config/inputMangler/(key|char|axis)map -->
	<!-- <mapfiles keymap="/usr/local/share/inputmangler/keymap.dvp" 
		           charmap="/usr/local/share/inputmangler/charmap.dvp"
				   axismap="/usr/local/share/inputmangler/axismap"/> -->

	<handlers> <!-- All handlers belong in here -->
	<!-- Listen on network - this is completely unencrypted! -->
	<!-- <net addr="127.0.0.1" port="20000"/> -->
	
	<!-- Log everything from the Kinesis Freestyle Keyboard to /tmp/key.log -->
	<!-- <debug name="Keyboard" vendor="058f" product="9410" id="K" log="/tmp/key.log" grab="0" /> -->
	
	<!-- For a Kinesis Low-Force-USB-Keypad: Transform every use of '#' to '='
		 Here '#' is what the '=' on the keypad would send with a Programmer Dvorak Layout,
		 so we just fixed it ;) 
		 Note that the meaning of '#' and '=' is defined in the keymap file -->
	<!--
	<device name="Keypad" vendor="04b4" product="5202"> 
		<signal key="#"   default="=" />
	</device> 
	-->

	<!-- 
		Another way of identifiyng a device is by its phys property (==where is it connected to).
		This allows you to configure multiple identical devices with different settings.
	-->
	<!--
	<device name="Keypad" phys="usb-0000:00:1a.1-2.3/input0">
		<signal key="#"   default="=" />
	</device> 
	-->
	
	<!-- Configure an Evoluent VerticalMouse 3 for using window specific settings for its extra buttons,
		 using the id "M". -->
	<!--
	<device name="Mouse" vendor="1a7c" product="0068" id="M">
		<signal key="WHEEL_UP"/>
		<signal key="WHEEL_DOWN"/>
		<signal key="BTN_EXTRA"/>
		<signal key="BTN_SIDE"/>
	</device>
	-->

	<!-- Alternative: Fix broken button and enable scroll wheel acceleration. See README for parameters -->
	<!-- 
	<device name="Mouse" vendor="1a7c" product="0068" id="M">
		<signal key="WHEEL_UP" default="~+(WHEEL_UP~)"/>
		<signal key="WHEEL_DOWN" default="~+(WHEEL_DOWN~)"/>
		<signal key="BTN_EXTRA" default="~D(BTN_EXTRA~)" />
		<signal key="BTN_SIDE"/>
	</device>
	-->

	</handlers>

	<windowConf><!-- All window elements belong in here -->
	
	<!-- In KDevelop: Always use the extra buttons to switch tabs. -->
	<!-- <window class="kdevelop" M="WHEEL_UP,WHEEL_DOWN,LEFT+A,RIGHT+A"/> -->
	
	<!-- If there was another device to configure, this might look like -->
	<!-- <window class="kdevelop" M="WHEEL_UP,WHEEL_DOWN,LEFT+A,RIGHT+A" F="a,MOUSE_UP,_,END"/> -->
	
	<!-- Opera (Version 12) does not need any special treatment to use additional mouse buttons,
		 but we might want to give them another function when playing flash games.
		 As the window title is changed, depending on the currently open tab, this can easily be
		 achieved by using a matching regular expression for the title.
		 This example also shows the use of the long notation form.
	-->
	<!--
	<window class="opera">
		<title regex="Decision 2.*" M="WHEEL_UP,WHEEL_DOWN,_,e" />
		<title regex="Dude and Zombies.*">
			<long id="M">
				WHEEL_UP=q
				WHEEL_DOWN=e
			</long>
		</title>
	</window>
	-->

	<!-- An excerpt from my config to improve controls in Dragonflight with macros 
		 Read the README, section #OUT# part 3 
	-->
	<!--
	<window class="dosbox">
		<long id="K">
			KP1=~Seq(MOUSE_X 300, MOUSE_Y 200, MOUSE_X -150, MOUSE_Y -5, ~s50, BTN_LEFT 1, ~s100, BTN_LEFT 0 ~)
			KP2=~Seq(MOUSE_X 300, MOUSE_Y 200, MOUSE_X -80, MOUSE_Y -5, ~s50, BTN_LEFT 1, ~s100, BTN_LEFT 0 ~)
		</long>
	</window>
	-->
	</windowConf>
	<!-- 
		 Not in this example (see README):
		 * Autofire 
		 * Window grouping and output inheritance
		 * Extra parameters for acceleration and debouncing
		 * 
    -->
</inputmanglerConf>
