Source: inputmangler
Section: misc
Priority: optional
Maintainer: Arkadiusz Guzinski <kermit@ag.de1.cc>
Build-Depends: debhelper (>= 9), cmake (>= 2.8), qtbase5-dev (>= 5.1), linux-headers
Standards-Version: 3.9.5
Homepage: https://github.com/kermitfrog/inputmangler
Vcs-Git: git://github.com/kermitfrog/inputmangler.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/inputmangler.git;a=summary

Package: inputmangler
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}, linux-headers, inputdummy-dkms
#Depends: libqt5core5a (>= 5.3), libqt5dbus5 (>= 5.3), libqt5network5 (>= 5.3), linux-headers, inputdummy-dkms
Suggests: qdbus | qdbus-qt5
Description: Daemon that transforms input events.
 Inputmangler is a daemon that intercepts and transforms linux input events, depending on the active window. It aims to be highly configurable, reliable and not too hard to use. You can use it to remap those extra mouse buttons, properly utilize a footswitch or even remap your second keyboard to trigger all kinds of shortcuts! If you are left-handed, you can switch left and right mouse buttons for applications that ignore your Desktops settings (like dosbox and fs-uae). And you can have a different configuration for each window!
 It is also capable of translating Text from the network to key presses.


